# Core functionality - changes here should be rare!
/src/app.py                   @sakhileEcomplete
/src/backend/database.py      @sakhileEcomplete
/src/backend/routers/auth.py  @sakhileEcomplete

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sakhileEcomplete
